/* ! Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: #f6f5f3;
  font-family: Montserrat, "Helvetica Neue", sans-serif;
}

/* ! Layout */

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper > main {
  flex-grow: 1;
}

/* # Utils */

.container {
  width: 95%;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

.row {
  display: flex;
}

.col-100 {
  width: 100;
}

.col-70 {
  width: 70%;
}

.col-60 {
  width: 60%;
}

.col-50 {
  width: 50%;
}

.col-40 {
  width: 40%;
}

.col-33 {
  width: calc(100% / 3);
}

.col-30 {
  width: 30%;
}

.col-20 {
  width: 20%;
}

/* # Header */

.page-header {
  background-color: white;
}

.header-title {
  color: #ff9614;
  font-family: "Nerko One", cursive;
  font-size: 4.2rem;
  text-align: center;
  text-shadow: 1px 1px 3px #444;
  text-transform: uppercase;
}

/* # Main */

.main-subtitle {
  color: #bebdbb;
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0.5rem 0;
}

.suffix {
  display: none;
}

.main-title {
  color: #4e3969;
  font-size: 2rem;
  font-weight: bold;
  text-shadow: 1px 1px 2px #aaa;
  margin-bottom: 2rem;
}

/* # Video Section */

.video-section {
  box-shadow: 1px 1px 20px 1px #aaa;
}

.video-section > iframe {
  display: block;
  width: 100%;
}

.video-section .row {
  flex-direction: column;
  gap: 1rem;
  padding-left: 2.2rem;
  background-color: white;
}

.video-section .row > h4 {
  margin-bottom: 1rem;
  margin-top: 2rem;
  font-size: 1.5rem;
}

.video-section .row span:last-child {
  margin-bottom: 3.5rem;
}

/* # Social Section */

.social-section ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.social-section ul li {
  background-color: white;
  width: 3rem;
  height: 2rem;
  border-radius: 18px;
  text-align: center;
  line-height: 2rem;
  box-shadow: 1px 1px 20px 1px #aaa;
}

.color-fb {
  color: #1a77f2;
}

.color-x {
  color: #009eff;
}

.color-insta {
  color: #833ab4;
}

.color-pinterest-yt {
  color: #e62222;
}

/* # Presentation Section */

.presentation-section {
  margin-top: 2rem;
}

.presentation-section .title {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
}

.divider {
  width: 17%;
  border: 1px solid #ff9614;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.presentation-section .image-container {
  width: 65%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.presentation-section p {
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 2rem;
  margin-bottom: 2rem;
}

.presentation-section p strong {
  font-weight: 700;
}

/* # Footer */

.page-footer {
  background-color: #7967a0;
  color: white;
  text-align: center;
  padding: 2rem 0;
}

.upper-footer {
  margin-bottom: 1.5rem;
}

.page-footer .upper-footer address {
  font-style: normal;
}

.lower-footer ul {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.lower-footer li {
  width: 20%;
  list-style: none;
  text-decoration: underline;
}

/* ! Responsive */

@media screen and (min-width: 576px) {
  .social-section ul li {
    width: calc(100% / 5 - 1rem);
  }

  .presentation-section .image-container {
    margin: 0;
  }

  .presentation-section .image-container img {
    float: left;
    margin-right: 1rem;
  }
}
